<p-menubar>
  <ng-template pTemplate="start">
    <span class="font-bold text-lg">My Navbar</span>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex gap-3">
      <button pButton icon="pi pi-home" class="p-button-rounded p-button-text text-white"></button>
      <button pButton icon="pi pi-user" class="p-button-rounded p-button-text text-white"></button>
      <button pButton icon="pi pi-cog" class="p-button-rounded p-button-text text-white"></button>
      <button pButton icon="pi pi-moon" class="p-button-rounded p-button-text text-white"
        (click)="toggleDarkMode()"></button>
    </div>
  </ng-template>
</p-menubar> 

<!-- <div class="p-4 bg-white shadow-lg rounded-lg">
 
  <div class="mb-4">
    <label for="tableSelect" class="font-medium text-gray-700">Select Table:</label>
    <p-dropdown id="tableSelect" [options]="tableOptions" (onChange)="onTableSelect($event)"></p-dropdown>
  </div>

  

 <div class="flex gap-6">
 
  <div class="w-1/2 border p-4 rounded-lg shadow-md">
    <h3 class="font-bold mb-2">Available Columns</h3>
    <ul class="space-y-2">
      <li *ngFor="let col of availableColumns">
        <button pButton class="w-full p-2 bg-blue-500 text-white rounded-lg" (click)="moveToSelected(col)">
          {{ col }}
        </button>
      </li>
    </ul>
  </div>
 
  <div class="flex flex-col justify-center gap-4">
    <button pButton icon="pi pi-angle-double-right" class="p-button-rounded bg-green-500 text-white"
      (click)="moveAllToSelected()" title="Add All"></button>
    <button pButton icon="pi pi-angle-double-left" class="p-button-rounded bg-red-500 text-white"
      (click)="moveAllToAvailable()" title="Remove All"></button>
  </div>
 
  <div class="w-1/2 border p-4 rounded-lg shadow-md">
    <h3 class="font-bold mb-2">Selected Columns</h3>
    <ul class="space-y-2">
      <li *ngFor="let col of selectedColumns">
        <button pButton class="w-full p-2 bg-red-500 text-white rounded-lg" (click)="moveToAvailable(col)">
          {{ col }}
        </button>
      </li>
    </ul>
  </div>
</div> 
  <button pButton icon="pi pi-filter" class="p-button-rounded p-button-text text-blue-600" (click)="toggleFilterSettings()"></button>


  <div *ngIf="showFilters" class="mt-4 p-4 border rounded-lg">
    <h3 class="font-bold text-lg">Filters & Sorting</h3>
    <div class="flex gap-4">
      <p-dropdown placeholder="Filter by..." [options]="selectedColumns" (onChange)="setFilter($event)"></p-dropdown>
      <p-dropdown placeholder="Sort by..." [options]="selectedColumns" (onChange)="setSortBy($event)"></p-dropdown>
      <p-dropdown placeholder="Group by..." [options]="selectedColumns" (onChange)="setGroupBy($event)"></p-dropdown>
    </div>
  </div>
 
<button pButton icon="pi pi-filter" class="p-button-rounded p-button-text text-blue-600"
  (click)="showFilterDialog = true"></button>

 
  <p-dialog header="Filters & Sorting"
          [(visible)]="showFilterDialog"
          [modal]="true"
          [baseZIndex]="10000"
          [closable]="true"
          [dismissableMask]="true"
          [styleClass]="'filter-dialog'"
          [contentStyle]="{ padding: '1rem', height: 'calc(100% - 55px)', overflowY: 'auto' }">
  <div class="flex flex-col gap-3 text-sm">
    
    <div>
      <h5 class="font-medium mb-1">Sort By</h5>
      <div class="flex gap-2 items-center">
        <p-dropdown placeholder="Column" [options]="selectedColumns" [(ngModel)]="sortByColumn" 
          [style]="{width: '150px'}"></p-dropdown>
        <p-dropdown placeholder="Order" [options]="['ASC', 'DESC']" [(ngModel)]="sortOrder" 
          [style]="{width: '100px'}"></p-dropdown>
      </div>
    </div>
 
    <div>
      <h5 class="font-medium mb-1">Filters</h5>
      <div *ngFor="let filter of filters; let i = index" class="flex gap-2 items-center mb-1">
        
        <p-dropdown placeholder="Column" [options]="selectedColumns" [(ngModel)]="filter.column" 
          [style]="{width: '140px'}"></p-dropdown>
         
        <p-dropdown placeholder="Operator" [options]="['=', '!=', '>', '<', '>=', '<=', 'between']"
          [(ngModel)]="filter.operator" [style]="{width: '100px'}"></p-dropdown>
 
        <ng-container [ngSwitch]="filter.operator">
         
          <ng-container *ngSwitchCase="'between'">
            <input type="text" pInputText placeholder="From" [(ngModel)]="filter.value.from" class="w-20 text-sm" />
            <input type="text" pInputText placeholder="To" [(ngModel)]="filter.value.to" class="w-20 text-sm" />
          </ng-container>
 
          <ng-container *ngSwitchDefault>
            <input type="text" pInputText placeholder="Value" [(ngModel)]="filter.value" class="w-32 text-sm" />
          </ng-container>
        </ng-container> 
        <button pButton icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text p-button-sm"
          (click)="removeFilter(i)"></button>
      </div>
 
      <button pButton icon="pi pi-plus" class="p-button-sm p-button-outlined" 
        (click)="addFilter()"></button>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button pButton label="Apply" class="p-button-primary p-button-sm" (click)="applyFilters()"></button>
    <button pButton label="Cancel" class="p-button-secondary p-button-sm" (click)="showFilterDialog = false"></button>
  </ng-template>
</p-dialog>


 
  <div class="flex gap-4 mt-4">
    <button pButton label="Save Filter" class="p-button-success" (click)="saveFilterSettings()"></button>
    <button pButton label="Load Data" class="p-button-primary" (click)="loadData()"></button>
  </div>

  
</div>  -->
 <p-toast></p-toast>
<router-outlet />