/* Default (desktop) */
.filter-dialog {
  width: 30vw !important;
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  height: 100vh !important;
  margin: 0 !important;
}

/* Fullscreen for tablet & mobile */
@media screen and (max-width: 768px) {
  .filter-dialog {
    width: 100vw !important;
    height: 100vh !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    border-radius: 0 !important;
  }
}
