<p-table [value]="group ? groupedData : InputData" [paginator]="false" [rows]="rows" [first]="first"
  (onPage)="onPageChange($event)" [sortMode]="'multiple'" [scrollable]="true" [scrollHeight]="'calc(100vh - 200px)'"
  class="table-auto overflow-x-auto overflow-y-auto w-full max-w-full">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr>
      <ng-container *ngFor="let col of columns">
        <td *ngIf="group && Inputgroupby.includes(col.field)">
          <ng-container *ngIf="row.__rowspan[col.field] > 0">
            <span [attr.rowspan]="row.__rowspan[col.field]" class="group-cell">
              {{ row[col.field] }}
            </span>
          </ng-container>
        </td>
        <td *ngIf="!group || !Inputgroupby.includes(col.field)">
          {{ row[col.field] }}
        </td>
      </ng-container>
    </tr>
  </ng-template>
</p-table>
 