 
 <!--  -->
 <!-- <p-table 
  [value]="group ? groupedData : InputData"
  [rows]="rows"
  [first]="first"
  [totalRecords]="pagination?.totalCount || 0"
  [paginator]="!group"
  [rowsPerPageOptions]="[5,10,20]"
  [lazy]="true"
  (onLazyLoad)="loadDataLazy($event)" 
  [responsiveLayout]="'scroll'"
  [rowGroupMode]="group ? 'rowspan' : undefined"
  [groupRowsBy]="group ? Inputgroupby[0] : undefined"
  [dataKey]="group ? Inputgroupby[0] : undefined"> -->
  
  
  <p-table
  [value]="group ? groupedData : InputData" 
  [rows]="pagination.pageSize" 
  [responsiveLayout]="'scroll'"
  [rowGroupMode]="group ? 'rowspan' : undefined"
  [groupRowsBy]="group ? Inputgroupby[0] : undefined"
  [dataKey]="group ? Inputgroupby[0] : undefined">
 
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
 
  <ng-template
    pTemplate="body"
    let-rowData
    let-rowgroup="rowgroup"
    let-rowspan="rowspan">
    <tr>
      <ng-container *ngFor="let col of columns">
        <td
          *ngIf="!group || !Inputgroupby.includes(col.field) || rowgroup"
          [attr.rowspan]="group && Inputgroupby.includes(col.field) ? rowData.__rowspan[col.field] : null">
          {{ rowData[col.field] }}
        </td>
      </ng-container>
    </tr>
  </ng-template>

  

</p-table> 

<p-paginator
  [first]="(pagination.page - 1) * pagination.pageSize"
  [rows]="pagination.pageSize"
  [totalRecords]="pagination.totalCount" 
  (onPageChange)="onPageChange($event)">
</p-paginator>